body {
  max-width: 700px;
  margin: 80px auto;
  font-family: serif;
  line-height: 1.6;
  color: #111;
  background: #fbde89;
  padding: 0 20px;
}
 nav {
  margin-bottom: 20px;
}

h1 {
  margin-top: 10px;
}

hr {
  margin: 20px 0;
}

nav a.active {
  font-weight: bold;
  text-decoration: underline;
}
