/* das ist ein css-Kommentar */

/* Layout, Grundstruktur */
body {
  max-width: 700px;
  margin: 80px auto;
  padding: 0 20px;
  
  font-family: serif;
  font-size: 1rem;
  line-height: 1.7;
  
  color: #111;
  background: #fcf5e0;
  
}

/* Navigationsleiste, oben */
 nav {
  margin-bottom: 20px;
  font-size: 0.9rem;
}
nav a.active {
  font-weight: bold;
  text-decoration: underline;
}

/* Typographie, Hauptstruktur */
/* Headings */
h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  
  font-size: 1.8rem;
  font-weight: normal;

  color: #3e3528;
}
/* Text */
p {
  margin-bottom: 14px;
}

/* Inhalte, Listen, Einträge */
ul {
  padding-left: 20px;
}
li {
  margin-bottom: 10px;
}

/* Links */
a {
  color: #5c5346;
}
a:hover {
  opacity: 0.7;
}

/* Trennelemente */
hr {
  margin: 20px 0;
}

